.window-controller{
    -webkit-app-region: drag; /* Make the title bar draggable */
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #080C13; /* The background color of the title bar */
    color: white; /* Text color */
    position: fixed; /* Position it fixed at the top */
    top: 0; /* Align it to the top */
    left: 0; /* Align it to the left side */
    z-index: 1001; /* Make sure it's above other content */
    width: 100%;
    height: 30px;
  }
  
  .logo {
    height: 35px;
    width: 35px;
    /* Styles for your logo if needed */
  }

  .window-controls {
    display: flex;
    align-items: center;
  }
  
  .window-controls img {
    -webkit-app-region: no-drag;
    width: 16px; /* Adjusted the size to be visible */
    height: 16px; /* Adjusted the size to be visible */
    z-index: 1002;
    align-items: center;
    margin: 9px;
  }

  .window-button {
    -webkit-app-region: no-drag;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px; /* The clickable area margin */
    padding-right: 15px; /* The clickable area margin */
    border-radius: 1px; /* Optional: if you want rounded corners */
  }


  .window-button:not(.close-btn):hover {
    background-color: rgba(255, 255, 255, 0.1); /* Light hover effect for minimize and maximize */
  }

  .close-btn:hover {
    background-color: rgba(255, 0, 0, 0.9); /* Red hover effect for close */
  }

  .minimize-btn.clicked , .maximize-btn.clicked {
    background-color: rgba(255, 255, 255, 0.2) !important; /* Adjust color and opacity as needed */
  }

  .close-btn.clicked {
    background-color: rgba(255, 106, 106, 0.9) !important; /* Adjust color and opacity as needed */
  }
  
  .window-button img {
    width: 12px; /* Adjusted the size to be visible */
    height: 12px; /* Adjusted the size to be visible */
  }

  .window-controller-left {
    display: flex;
    align-items: center;
  }
  
  .app-name {
    font-size: 14px; /* Adjust font size as needed */
    color: #E4E5E7; /* Adjust text color as needed */
  }