.App {
  text-align: center;
  min-height: 100vh; /* Make App fill the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  margin: 0; /* Remove default margins */
  width: 100%; /* Ensure the header is not wider than the viewport */
  flex-grow: 1; /* Allow header to grow and fill available space */
  background-color: #0F1725;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}



.App-border-wrapper {
  border-right: 30px solid #000;
  border-left: 30px solid #000; 
  border-bottom: 30px solid #000; 
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  height: 100%;
  width: 100%;
  overflow: hidden; /* This will prevent scrollbars */
}

/* Add this to prevent scrollbar caused by 100vh on mobile browsers when the URL bar hides/shows */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%; /* This ensures your app stretches to the full height */
  overflow: hidden; /* Prevents scrollbars */
}
